
.vs/blazor-test-netcore/v15/Server/sqlite3/db.lock
.vs/blazor-test-netcore/DesignTimeBuild/.dtbcache
.vs/blazor-test-netcore/v15/.suo
.vs/blazor-test-netcore/v15/Server/sqlite3/storage.ide
.vs/blazor-test-netcore/v15/Server/sqlite3/storage.ide-shm
.vs/blazor-test-netcore/v15/Server/sqlite3/storage.ide-wal
blazor-test-netcore/bin/Debug/netstandard2.0/blazor-test-netcore.blazor.config
blazor-test-netcore/bin/Debug/netstandard2.0/blazor-test-netcore.dll
blazor-test-netcore/bin/Debug/netstandard2.0/blazor-test-netcore.pdb
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/blazor-test-netcore.dll
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/blazor-test-netcore.pdb
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.AspNetCore.Blazor.Browser.dll
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.AspNetCore.Blazor.dll
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.Extensions.DependencyInjection.dll
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/Microsoft.JSInterop.dll
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/Mono.WebAssembly.Interop.dll
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/mscorlib.dll
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/netstandard.dll
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/System.Core.dll
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/System.dll
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/_bin/System.Net.Http.dll
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/asmjs/mono.asm.js
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/asmjs/mono.js
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/asmjs/mono.js.mem
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/blazor.boot.json
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/blazor.server.js
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/blazor.webassembly.js
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/wasm/mono.js
blazor-test-netcore/bin/Debug/netstandard2.0/dist/_framework/wasm/mono.wasm
blazor-test-netcore/bin/Debug/netstandard2.0/Microsoft.AspNetCore.Blazor.Browser.dll
blazor-test-netcore/bin/Debug/netstandard2.0/Microsoft.AspNetCore.Blazor.dll
blazor-test-netcore/bin/Debug/netstandard2.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
blazor-test-netcore/bin/Debug/netstandard2.0/Microsoft.Extensions.DependencyInjection.dll
blazor-test-netcore/bin/Debug/netstandard2.0/Microsoft.JSInterop.dll
blazor-test-netcore/bin/Debug/netstandard2.0/Mono.WebAssembly.Interop.dll
blazor-test-netcore/obj/blazor-test-netcore.csproj.nuget.cache
blazor-test-netcore/obj/blazor-test-netcore.csproj.nuget.g.props
blazor-test-netcore/obj/blazor-test-netcore.csproj.nuget.g.targets
blazor-test-netcore/obj/Debug/netstandard2.0/_ViewImports.g.cs
blazor-test-netcore/obj/Debug/netstandard2.0/_ViewImports.g.i.cs
blazor-test-netcore/obj/Debug/netstandard2.0/App.g.cs
blazor-test-netcore/obj/Debug/netstandard2.0/App.g.i.cs
blazor-test-netcore/obj/Debug/netstandard2.0/blazor-test-netcore.AssemblyInfo.cs
blazor-test-netcore/obj/Debug/netstandard2.0/blazor-test-netcore.AssemblyInfoInputs.cache
blazor-test-netcore/obj/Debug/netstandard2.0/blazor-test-netcore.assets.cache
blazor-test-netcore/obj/Debug/netstandard2.0/blazor-test-netcore.csproj.CopyComplete
blazor-test-netcore/obj/Debug/netstandard2.0/blazor-test-netcore.csproj.CoreCompileInputs.cache
blazor-test-netcore/obj/Debug/netstandard2.0/blazor-test-netcore.csproj.FileListAbsolute.txt
blazor-test-netcore/obj/Debug/netstandard2.0/blazor-test-netcore.csprojAssemblyReference.cache
blazor-test-netcore/obj/Debug/netstandard2.0/blazor-test-netcore.dll
blazor-test-netcore/obj/Debug/netstandard2.0/blazor-test-netcore.pdb
blazor-test-netcore/obj/Debug/netstandard2.0/Blazor.components.input.cache
blazor-test-netcore/obj/Debug/netstandard2.0/Blazor.definition.components.json
blazor-test-netcore/obj/Debug/netstandard2.0/Blazor.inputs.txt
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/blazor.boot.json
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/bootjson-references.txt
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/embedded.resources.txt
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/inputs.basic.cache
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/inputs.bootjson.cache
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/inputs.copylocal.txt
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/inputs.linker.cache
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/inputs.linkerswitch.cache
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linked.assemblies.txt
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker.descriptor.xml
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/blazor-test-netcore.dll
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/blazor-test-netcore.pdb
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/Microsoft.AspNetCore.Blazor.Browser.dll
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/Microsoft.AspNetCore.Blazor.dll
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/Microsoft.Extensions.DependencyInjection.Abstractions.dll
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/Microsoft.Extensions.DependencyInjection.dll
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/Microsoft.JSInterop.dll
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/Mono.WebAssembly.Interop.dll
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/mscorlib.dll
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/netstandard.dll
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/System.Core.dll
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/System.dll
blazor-test-netcore/obj/Debug/netstandard2.0/blazor/linker/System.Net.Http.dll
blazor-test-netcore/obj/Debug/netstandard2.0/BlazorTemp/blazor-test-netcore.dll
blazor-test-netcore/obj/Debug/netstandard2.0/BlazorTemp/blazor-test-netcore.pdb
blazor-test-netcore/obj/Debug/netstandard2.0/Pages/_ViewImports.g.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Pages/_ViewImports.g.i.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Pages/Counter.g.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Pages/Counter.g.i.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Pages/FetchData.g.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Pages/FetchData.g.i.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Pages/Index.g.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Pages/Index.g.i.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Shared/MainLayout.g.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Shared/MainLayout.g.i.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Shared/NavMenu.g.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Shared/NavMenu.g.i.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Shared/SurveyPrompt.g.cs
blazor-test-netcore/obj/Debug/netstandard2.0/Shared/SurveyPrompt.g.i.cs
blazor-test-netcore/obj/project.assets.json
